<a href="https://colab.research.google.com/github/RonCodes88/.github/blob/main/Copy_of_Sets_Strings_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SETS

#SETS



*   A set in Python is an unordered collection of objects
*   Mainly used in situations where membership and uniqueness in the set are the focus.
* Items in a set must be immutable and hash-
able
* ints, floats, strings, and tuples can be members of a set, but lists, dictionaries, and sets themselves canâ€™t.
* set() function accepts any iterable object as input. Example: lists, tuples, strings, etc.

NOTE: Set itself is mutable, elements of a set are not.

In [ ]:
x = set([7,8,1,2,3,3,2,1,4,10,11,19,28,830,300,6])
print(x)

a="hello"
b=""+"hello"
print(id(a),id(b))

{1, 2, 3, 4, 6, 7, 8, 10, 11, 300, 19, 28, 830}
135267849347888 135267849347888

| Set operation |  Explanation | Usage|
|:--------------|:----------------|:----------------|
| set | Create a set. Note that create an empty is set()  but not { }|x=set()|
| add | Add an element to the set |x.add()|
| remove | Remove an element from the set |x.remove()|
| in | Return whether an item is in a set |y in x|
| len | Return the number of items in a set |len(x)|
| \| or union | Get the union of two sets |x \| y or  x.union(y) |
| \& or intersection| Get the intersection of two sets | x \& y or x.intersection(y) |
| - or difference| Get the difference between two sets | x - y or x.difference(y) |
| ^ or symmetric difference| Get the symmetric difference (elements that are in one set or the other but not both) | z= x ^ y or z = x.symetric_difference(y) |
| frozenset | Makes a set become immutable and hashable | frozenset() |

<br><center>
  <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Op%C3%A9rations_ensembles_sets_operations.png" width=350></center>

In [ ]:
# Use the two sets and implement the four operations shown in the image.

A={4,3,2,1}
B={7,5,4,3}

# your code goes here
union = A.union(B)
print(union)

intersection = A.intersection(B)
print(intersection)

difference = A.difference(B)
print(difference)

symmetric_difference = A.symmetric_difference(B)
print(symmetric_difference)


c=[1,2,3]
c=frozenset(c)


# Test this . Can a frozen set be part of another set?
frozen = set(c)
print(frozen)

{1, 2, 3, 4, 5, 7}
{3, 4}
{1, 2}
{1, 2, 5, 7}
{1, 2, 3}

#STRINGS



*   Strings can be considered to be sequences of characters, which means that you can use index or slice notation
*   Strings must be between a pair of single or double quotes. Quotes other than opening and closing quotes are part of the string.

In [ ]:
x = "Hello"
y = 'How are you?'
z = "I am 'fine' "

print( x )
print( y )
print( z )

Hello
How are you?
I am 'fine'

Indexing and slicing

In [ ]:
# Indexing or slicing works just like lists
#Guess the outputs
x = "Hello"
print(x[0])
print(x[-1])
print(x[1:])

H
o
ello

In [ ]:
#can you use a method from yesterday's discussion to print every other alphabet in x ?
print(x[::2])
#your code goes here
x[::2]

Hlo

'Hlo'

Basic string operations:

In [ ]:
x = "Hello " + "World"  # concatenation
print(x)

x = 5 * x #multiplication
print(x)

Hello World
Hello WorldHello WorldHello WorldHello WorldHello World

In [ ]:
#string concatenation requries both arguments to be strings

x = "Hello" + str(5)
x

'Hello5'



Special characters and escape sequences

|Espace Sequences | Character|
|-----------------|---------|
|\\'| Single-quote character|
|\\"| Double-quote character|
|\\\\| Backslash character|
|\\a| Bell character|
|\\b| Backspace character|
|\\n| Newline character|
|\\r| Carriage-return character (not the same as \n)|
|\\t| Tab character|
|\\v| Vertical tab character|

NOTE: We will cover unicodes and unicode escapes later when we revisit strings  during data manipulation.

In [ ]:
# some of these have different results in IDE and notebooks.

a = "\' Single-quote character \" Double-quote character \\ Backslash character \a Bell character aa\baa Backspace character \n Newline character \r Carriage-return character (not the same as \n) \t Tab character \v Vertical tab character \' Single-quote character \" Double-quote character \\ Backslash character \a Bell character \b Backspace character \n Newline character \r Carriage-return character (not the same as \n) \t Tab character \v Vertical tab character "

print(a)

' Single-quote character " Double-quote character \ Backslash character  Bell character aaaa Backspace character
 Carriage-return character (not the same as
) 	 Tab character  Vertical tab character ' Single-quote character " Double-quote character \ Backslash character  Bell character  Backspace character
 Carriage-return character (not the same as
) 	 Tab character  Vertical tab character

# String methods:

* Python string methods are built into the standard Python string class, so all string objects have them automatically.
* There are too many string methods to list here, so we will look at a few popular ones and the rest can be found here: [Exhaustive list of string methods](https://www.geeksforgeeks.org/python-string-methods/)

Here is a list of useful String methods:

* capitalize()
* lower()
* upper()
* title()
* count() , Takes substring as an arguement and returns number of occurances of that substring
* find(), Takes substring as an arguement and returns lowest index of that substring if it occurs with the string
* replace(), Takes two substrings as arguements and replaces one with other
* swapcase()
* split(), Takes a substring as an arguement and splits the string where the substring occur, returns a list.
* strip(), rstrip(), lstrip() ,  strip removes any and all of the characters in the extra parameter strin from the sides,
no matter in which order they occur. rstrip and lstrip remove from the right and left side of the string respectively, till a non parameter character is reached.

* join(), join takes a list of strings and puts them together to form a single string with the original string between each element .

In [ ]:
astr = '\nabc\ndef\nc\n\n'
print(astr)

abc
def
c

In [ ]:
newstr = astr.strip('\n')
print(newstr)
list1 = newstr.split('\n')
print(list1)

abc
def
c
['abc', 'def', 'c']

In [ ]:
newstr.replace('\n', '')

'abcdefc'

In [ ]:
print("HELLO".join(list1))

abcHELLOdefHELLOc

In [ ]:
stars = 'ab*gcsdsf*safsadf'

In [ ]:
stars.split('*')

['ab', 'gcsdsf', 'safsadf']

In [ ]:
print("".join(stars.split('*')))

abgcsdsfsafsadf

In [ ]:
quote = "This is a test message. Hello "
print(1, quote.capitalize()) # Only the first character is uppercase.
print(2, quote.lower()) # Every letter is lowercase
print(3, quote.upper()) # Every letter is uppercase
print(4, quote.title()) # Every word starts with uppercase
print(5, quote.count('e')) # Count how many lowercase 'e' is in the string
print(6, quote.find('a')) # Find the index of the substring 'you' in the string
print(7, quote.replace('test', 'best')) # replace
print(8, quote.swapcase()) # Swap case

1 This is a test message. hello
2 this is a test message. hello
3 THIS IS A TEST MESSAGE. HELLO
4 This Is A Test Message. Hello
5 4
6 8
7 This is a best message. Hello
8 tHIS IS A TEST MESSAGE. hELLO

In [ ]:
aList = ['CS122','Spring','Lecture']
print("HELLO".join(aList))

# Format Strings

A simple way to use the string format method is with numbered replacement fields that correspond to the parameters passed to the format function.

In [ ]:
"{0} are for {1}".format("Weekends", "parties")

'Weekends are for parties'

In [ ]:
v1 = 'Weekends'
"{days} are for {what}".format( days=v1,what="parties")

'Weekends are for parties'

There is one important funcitonality that we will circle back to when in need.

Translate :
Usage first we define a mapping using maketrans(characters1,characters2).
Then we can call translate function on the string to make the translation.
A basic example is shown. We will look into the details later.

In [ ]:
x = "~x ^ (y % z)"
table = x.maketrans("~^()", "!&[]")
x.translate(table)

'!x & [y % z]'

# Dictionaries

* A data type that store key:value pairs.
* Each pair of data, consisting of a key and a value, is called an item.
* To create an empty dictionary, we use curly brackets {}.
* When storing items in a dictionary, we separate them with commas.
* Dictionary is the best data type for look-up (like a phone book).
* Key is immutable and value can be mutable

In [ ]:
# an empty dictionary

empty_dictionary = {}
print(empty_dictionary)

# dictonary with 3 key value pairs

english_to_french = {'red': 'rouge', 'blue': 'bleu', 'green': 'vert'}

print(len(english_to_french))
print(list(english_to_french.keys()))
print(list(english_to_french.values()))
print(list(english_to_french.items()))

{}
3
['red', 'blue', 'green']
['rouge', 'bleu', 'vert']
[('red', 'rouge'), ('blue', 'bleu'), ('green', 'vert')]

In [ ]:
del english_to_french['green']
list(english_to_french.items())

KeyError: 'green'

In [ ]:
#test these

# del english_to_french['morning']
print(english_to_french.get('blue', 'No translation'))
print(english_to_french.get('cheese', 'No translation'))

bleu
No translation



|Dictionary operation| Explanatio | Example|
|--------------------|------------|--------|
|{} |Creates an empty dictionary |x = {}|
|len |Returns the number of entries in a dictionary |len(x)|
|keys |Returns a view of all keys in a dictionary |x.keys()|
|values |Returns a view of all values in a dictionary |x.values()|
|items |Returns a view of all items in a dictionary| x.items()|
|del| Removes an entry from a dictionary |del(x[key])|
|in |Tests whether a key exists in a dictionary |'y' in x|
|get| Returns the value of a key or a configurable default |x.get('y', None)|
|setdefault |Returns the value if the key is in the dictionary; otherwise, sets the value for the key to the default and returns the value |x.setdefault('y', None)|
|copy | Makes a shallow copy of a dictionary |y = x.copy()|
|update  | Combines the entries of two dictionaries |x.update(z)|

In [ ]:
# Try atleast 4 different operations here
nums = {'A' : 1, 'B': 2, 'C': 3, 'D': 4}
print(list(nums.keys()))
print(list(nums.values()))
print(list(nums.items()))

del nums['A']
print(list(nums.items()))

'A' in nums
nums1 = nums.copy()
print(nums1)

nums1.update(nums)
print(nums1)
# your code goes here

['A', 'B', 'C', 'D']
[1, 2, 3, 4]
[('A', 1), ('B', 2), ('C', 3), ('D', 4)]
[('B', 2), ('C', 3), ('D', 4)]
{'B': 2, 'C': 3, 'D': 4}
{'B': 2, 'C': 3, 'D': 4}